body
{
	padding:0px;
	margin:0px;
	font-family: Arial, helvetica, sans-serif;
	font-size: 9pt;

}
.header
{
	padding: 0px;
	height: 60px;
	margin:0px;
	width:100%;
}

.title
{
	color: White;
	text-align:center;
	font-size: 24pt;
	background-color: #660000;
}

.smallTitle
{
	font-size:8pt;
}

.titleDescription
{
	color:White;
	text-align:center;
	font-size:10pt;
	background-color: #660000;
}

.body
{
	padding:2px;
	margin:4px;
	width: 65%;
	float:left;
}

.explain
{
	padding:2px;
	margin:4px;
	width:15%;
	float:right;
	border: solid 1px #660000;
	color: #000066;
	height:100%;
	background-color: #EEEEEE;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

img {
	border: none;
}

input[type=text], input[type=submit]
{
	width:146px;
}

select
{
	width:150px;
}

li label
{
	width:150px;
	float:left;
}

li
{
	padding-left: 2px;
	padding-bottom:5px;
	text-align: left;
	list-style: none;
}

table th
{
	color: White;
	background-color: #000066;
	text-align: center;	
	cursor:pointer;
}

.explain ul li
{
	list-style: disc;
}

.MainUpdate
{
	width:375px;
	padding:3px;
	margin:3px;
	float:left;
}

.MainUpdate label
{
	color:#888888;
	background-color:white;
	text-align:center;
	font-weight:bold;
	font-size:10pt;
	width:375px;
	float:left;
}
	
	
.Updates
{

	border: solid 1px #AAAAAA;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	width: 275px;
	height: 200px;
	margin: 3px;
	padding: 3px;
}

.UpdatesLabel
{
	color:White;
	background-color:#888888;
	text-align:center;
	font-weight:bold;
	font-size:10pt;
	width:275px;
	float:left;
}

.left
{
	float:left;
}

.right
{
	float:right;
}

.playerName
{
	font-size: 20pt;
}

.AccordionNavigation
{
	background-color: #000066;
	width: 15%;
	display:inline-block;
	border-right: solid 1px #000066;
}

.headerMenuItem
{
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
	font-size:12pt;
}

.menuItem
{
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}

.bold
{
	font-weight: bold;
}

.showBullet
{
	list-style-type:circle;
}

td
{
    white-space: nowrap;
}